<!DOCTYPE html>
<html class="no-js" lang="en" assets-root="{{ asset('bundles/kniznica/') }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Kniznica</title>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

        </div>
    </nav>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>
